<manifest package="com.fx_trading.navigation"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".activities.QuestionActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>