*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/feature_binder_module/build/intermediates/aar_metadata/debug/aar-metadata.properties
/feature_binder_module/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/feature_binder_module/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/feature_binder_module/build/intermediates/data_binding_base_class_logs_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-binding_classes.json
/feature_binder_module/build/intermediates/data_binding_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-br.bin
/feature_binder_module/build/intermediates/data_binding_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-setter_store.json
/feature_binder_module/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/feature_binder_module/build/tmp/kapt3/incApCache/debug/ap-classpath-entries.bin
/feature_binder_module/build/tmp/kapt3/incApCache/debug/apt-cache.bin
/feature_binder_module/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/feature_binder_module/build/intermediates/javac/debug/classes/androidx/databinding/library/baseAdapters/BR.class
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_binder_module/BR.class
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_main/BR.class
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_questions/BR.class
/feature_binder_module/build/generated/source/kapt/debug/androidx/databinding/library/baseAdapters/BR.java
/feature_binder_module/build/generated/source/kapt/debug/com/fx_trading/lessons/feature_binder_module/BR.java
/feature_binder_module/build/generated/source/kapt/debug/com/fx_trading/lessons/feature_main/BR.java
/feature_binder_module/build/generated/source/kapt/debug/com/fx_trading/lessons/feature_questions/BR.java
/feature_binder_module/build/kotlin/compileDebugKotlin/build-history.bin
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/build-history.bin
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_binder_module/BuildConfig.class
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/BuildConfig.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/BuildConfig.dex
/feature_binder_module/build/generated/source/buildConfig/debug/com/fx_trading/lessons/feature_binder_module/BuildConfig.java
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/feature_binder_module/build/intermediates/compile_library_classes_jar/debug/classes.jar
/feature_binder_module/build/tmp/kapt3/incApCache/debug/classpath-entries.bin
/feature_binder_module/build/tmp/kapt3/incApCache/debug/classpath-structure.bin
/feature_binder_module/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.fx_trading.lessons.feature_binder_module-binding_classes.json
/feature_binder_module/build/intermediates/data_binding_artifact/debug/kaptDebugKotlin/com.fx_trading.lessons.feature_binder_module-br.bin
/feature_binder_module/build/intermediates/data_binding_artifact/debug/kaptDebugKotlin/com.fx_trading.lessons.feature_binder_module-setter_store.json
/feature_binder_module/build/intermediates/data_binding_base_class_logs_dependency_artifacts/debug/com.fx_trading.lessons.feature_main-binding_classes.json
/feature_binder_module/build/intermediates/data_binding_dependency_artifacts/debug/com.fx_trading.lessons.feature_main-br.bin
/feature_binder_module/build/intermediates/data_binding_dependency_artifacts/debug/com.fx_trading.lessons.feature_main-setter_store.json
/feature_binder_module/build/intermediates/data_binding_base_class_logs_dependency_artifacts/debug/com.fx_trading.lessons.feature_questions-binding_classes.json
/feature_binder_module/build/intermediates/data_binding_dependency_artifacts/debug/com.fx_trading.lessons.feature_questions-br.bin
/feature_binder_module/build/intermediates/data_binding_dependency_artifacts/debug/com.fx_trading.lessons.feature_questions-setter_store.json
/feature_binder_module/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/counters.tab
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl$InnerBrLookup.class
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl$InnerBrLookup.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl$InnerBrLookup.dex
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl$InnerLayoutIdLookup.class
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl$InnerLayoutIdLookup.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl$InnerLayoutIdLookup.dex
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl.class
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl.dex
/feature_binder_module/build/generated/source/kapt/debug/com/fx_trading/lessons/feature_binder_module/DataBinderMapperImpl.java
/feature_binder_module/build/intermediates/javac/debug/classes/androidx/databinding/DataBindingComponent.class
/feature_binder_module/build/generated/source/kapt/debug/androidx/databinding/DataBindingComponent.java
/feature_binder_module/build/intermediates/javac/debug/classes/com/fx_trading/lessons/feature_binder_module/DataBindingTriggerClass.class
/feature_binder_module/build/generated/data_binding_trigger/debug/com/fx_trading/lessons/feature_binder_module/DataBindingTriggerClass.java
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/desugar_graph.bin
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/META-INF/feature_binder_module_debug.kotlin_module
/feature_binder_module/build/tmp/kapt3/incrementalData/debug/META-INF/feature_binder_module_debug.kotlin_module
/feature_binder_module/build/tmp/kotlin-classes/debug/META-INF/feature_binder_module_debug.kotlin_module
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/feature_binder_module/build/intermediates/incremental/generateSafeArgsDebug/file_mappings.json
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/id-to-file.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/feature_binder_module/build/tmp/kapt3/incApCache/debug/java-cache.bin
/feature_binder_module/build/intermediates/data_binding_export_class_list/debug/kaptDebugKotlin
/feature_binder_module/build/kotlin/compileDebugKotlin/last-build.bin
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/last-build.bin
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
/feature_binder_module/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/feature_binder_module/build/outputs/logs/manifest-merger-debug-report.txt
/feature_binder_module/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/feature_binder_module/build/intermediates/incremental/mergeDebugShaders/merger.xml
/feature_binder_module/build/intermediates/incremental/packageDebugAssets/merger.xml
/feature_binder_module/build/intermediates/incremental/packageDebugResources/merger.xml
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/Module.class
/feature_binder_module/build/tmp/kapt3/incrementalData/debug/com/fx_trading/lessons/feature_binder_module/Module.class
/feature_binder_module/build/tmp/kotlin-classes/debug/com/fx_trading/lessons/feature_binder_module/Module.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/Module.dex
/feature_binder_module/build/tmp/kapt3/stubs/debug/com/fx_trading/lessons/feature_binder_module/Module.java
/feature_binder_module/build/tmp/kapt3/stubs/debug/com/fx_trading/lessons/feature_binder_module/Module.kapt_metadata
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder$WhenMappings.class
/feature_binder_module/build/tmp/kotlin-classes/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder$WhenMappings.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder$WhenMappings.dex
/feature_binder_module/build/intermediates/runtime_library_classes_dir/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder.class
/feature_binder_module/build/tmp/kapt3/incrementalData/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder.class
/feature_binder_module/build/tmp/kotlin-classes/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder.class
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/transformed/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder.dex
/feature_binder_module/build/tmp/kapt3/stubs/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder.java
/feature_binder_module/build/tmp/kapt3/stubs/debug/com/fx_trading/lessons/feature_binder_module/ModuleBinder.kapt_metadata
/feature_binder_module/build/intermediates/navigation_json/debug/navigation.json
/feature_binder_module/build/tmp/kapt3/stubs/debug/error/NonExistentClass.java
/feature_binder_module/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/feature_binder_module/build/intermediates/packaged_manifests/debug/output-metadata.json
/feature_binder_module/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/feature_binder_module/build/intermediates/compile_r_class_jar/debug/R.jar
/feature_binder_module/build/intermediates/compile_symbol_list/debug/R.txt
/feature_binder_module/build/intermediates/local_only_symbol_list/debug/R-def.txt
/feature_binder_module/build/intermediates/library_java_res/debug/res.jar
/feature_binder_module/build/.transforms/2b188f635ea3f964b1c3de619dddb14c/results.bin
/feature_binder_module/build/.transforms/41625f674f2a6b45fd3c403c576fe729/results.bin
/feature_binder_module/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
/feature_binder_module/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/feature_binder_module/build/kotlin/kaptGenerateStubsDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/.idea/misc.xml
