<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fx_trading.lessons.feature_onboarding">

    <application>
        <activity
            android:name="com.fx_trading.lessons.feature_onboarding.OnBoardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>